<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= @user %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><%= current_user.username %></h3>
      <p>Age:</p>
      <p>School:</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>About me</h3>
      <small>Bio</small>
    </div>
  </div>
</div>
